<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- Load properties file -->
    <context:property-placeholder location="classpath:db.properties" ignore-unresolvable="true"/>

    <!-- Component scanning for controllers and config -->
    <context:component-scan base-package="com.urms.controller,com.urms.config"/>

    <!-- Enable MVC annotations -->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper" ref="objectMapper"/>
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- Static resources handling -->
    <mvc:default-servlet-handler/>
    <mvc:resources mapping="/static/**" location="/static/"/>
    <mvc:resources mapping="/pages/**" location="/pages/"/>
    <mvc:resources mapping="/css/**" location="/css/"/>
    <mvc:resources mapping="/js/**" location="/js/"/>
    <mvc:resources mapping="/images/**" location="/images/"/>
    <mvc:resources mapping="/upload/**" location="/upload/"/>
    <!-- 外部上传目录 -->
    <mvc:resources mapping="/uploads/**" location="file:///D:/Administrator/Desktop/urms/usmr/urms_upload/"/>
    <mvc:resources mapping="/*.html" location="/"/>
    <mvc:resources mapping="/*.css" location="/"/>
    <mvc:resources mapping="/*.js" location="/"/>

    <!-- File upload resolver -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10485760"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <!-- Interceptors -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/auth/login"/>
            <mvc:exclude-mapping path="/auth/info"/>
            <!-- 首页公开接口 - 无需登录 -->
            <mvc:exclude-mapping path="/api/notice/list"/>
            <mvc:exclude-mapping path="/api/activity/list"/>
            <mvc:exclude-mapping path="/static/**"/>
            <mvc:exclude-mapping path="/pages/**"/>
            <mvc:exclude-mapping path="/css/**"/>
            <mvc:exclude-mapping path="/js/**"/>
            <mvc:exclude-mapping path="/images/**"/>
            <mvc:exclude-mapping path="/upload/**"/>
            <mvc:exclude-mapping path="/uploads/**"/>
            <mvc:exclude-mapping path="/*.html"/>
            <mvc:exclude-mapping path="/*.css"/>
            <mvc:exclude-mapping path="/*.js"/>
            <bean class="com.urms.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    </beans>